<app-user-header></app-user-header>
<div class="container mt-4">
  <div class="row box">
    <div class="mx-auto col-8 col-md-8">
      <h2 class="text-center mb-5">Profile</h2>
      <div class="form-group">
        <label for="name"><strong><u>Name</u></strong></label>
        <h5>Anjali Pandey</h5>
      </div>  
      <div class="form-group">
          <label for="email"><strong><u>Email</u></strong></label>
          <h5>anjalip16@gmail.com</h5>
         <!-- <input type="text" id="instructions" class="form-control" placeholder="Instructions">-->
        </div>  
        <div class="form-group">
            <label for="contact"><strong><u>Contact No.</u></strong></label>
            <h5>7766445577</h5>
          </div>
          <div class="form-group">
              <label for="city"><strong><u>City</u></strong></label>
              <h5>New Delhi</h5>
            </div>  
                  <div class="form-group">
                    <label for="subject"><strong><u>Package/Group</u></strong></label>
                    <div class="dropdown">
                      <button id="subject" class="btn dropdown-toggle" data-toggle="dropdown">Select</button>
                      <ul class="dropdown-menu">
                        <li style="cursor: pointer;"class="pl-2"><strong>JEE Main</strong></li>
                        <li style="cursor: pointer;"class="pl-2"><strong>IBPS-PO</strong></li>
                      </ul>
                    </div>

                  </div>     
     
    <button type="button" style="min-width: 200px" class="text-center btn mt-3 mb-5 btn-success mx-auto"><strong>Edit</strong></button>
</div>
</div>
<footer style="min-width: 100px;">
  <p class="text-center  mb-3 mt-3 ">
    <strong>&copy; Copyright</strong>
  </p>
</footer>
</div>