<app-user-header></app-user-header>
  <div class="container">
      <div class="row mt-3 mb-3 box">
      <div class="col-12 col-md-12">
        <table class="mb-2 mt-2">
            <tr>
              <th>No.</th>
              <th>Package</th>
              <th>Price</th>
            
              
            </tr>
            <tr>
              <th>1.</th>
              <th>JEE-Main</th>
              <th>1499</th>
            </tr>
            <tr>
                <th>2.</th>
                <th>IBPS-PO</th>
                <th>Free</th>
              </tr>
            
        </table>
      </div>
      </div>
    </div>
