<app-header></app-header>
  <div class="container">
      <div class="row mt-3 mb-3 box">
      <div class="col-12 col-md-12">
        <table class="mb-2 mt-2">
            <tr>
              <th>Package</th>
              <th>Price</th>
              <th>Change</th>
              <th>Add Test</th>
              <th>Add Questions</th>
            </tr>
            <tr *ngFor="let test of testgroup">
              <th><span style="display: block">{{test.groupName}}</span>
              <span style="display:inline"><table><tr class="no">
                <td><a href="{{test.details_pdf}}">Details</a></td>
                <td><a href="{{test.schedule_pdf}}">Schedule</a></td>
              </tr></table></span></th>
              <th>{{test.price}}</th>
              <th><a style="cursor: pointer;" data-toggle="modal" data-target="#edit">Edit</a></th>
              <th><a style="cursor: pointer;"data-toggle="modal" data-target="#addtest">Add</a></th>
              <th><a style="cursor: pointer;"data-toggle="modal" data-target="#addquestion">Add</a></th>
            </tr>
            
        </table>
      </div>
      </div>
    </div>

    <!--Add Test Modal-->

    <div id="addtest"class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <div class="modal-title"><strong>Add Test</strong></div>
           <span style="cursor: pointer;" data-dismiss="modal"><strong>X</strong></span>
          </div>
          <div class="modal-body">

          <div class="form-group">
            <label for="test"><strong>Test No.</strong></label>
            <input id="test" type="text" [(ngModel)]="testnumber" name="testno" class="form-control" placeholder="Test Number">
          </div>

          <div class="form-group">
            <label for="time"><strong>Allowed Time (in minutes)</strong></label>
            <input id="time" type="text" [(ngModel)]="allowedtime" name="allowedtime" class="form-control" placeholder="Time">
          </div>

            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Subject
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li *ngFor="let sub of getsubs">{{sub.subjectName}}</li>
                <h6>{{fail}}</h6>
              </ul>
            </div>

            
           
          </div>
        </div>
      </div>
    </div>

    <!-- Add Questions Modal    -->

    <div id="addquestion" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title"><strong>Add Questions</strong></div>
           <span style="cursor: pointer;" data-dismiss="modal"><strong>X</strong></span>
          </div>
          <div class="modal-body">
            
            <div class="form-group">
              <label for="question"><strong>Question :</strong></label>
              <textarea name="question" id="question" class="form-control" placeholder="Type Question Here"></textarea>

              <input type="text" name="option1" class="form-control" id="option1" placeholder="Option 1">
              <input type="text" name="option2" class="form-control" id="option2" placeholder="Option 2">
              <input type="text" name="option3" class="form-control" id="option3" placeholder="Option 3">
              <input type="text" name="option4" class="form-control" id="option4" placeholder="Option 4">
            </div>

            <div class="form-group">
              <label for="correct"><strong>Correct :</strong></label>
              <input type="text" name="correct" class="form-control" id="correct" placeholder="Correct Answer">
            </div>
            
            <button class="btn btn-primary">Submit</button>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->

    <div id="edit" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <div class="modal-title"><strong>Edit Group</strong></div>
              <span style="cursor: pointer;" data-dismiss="modal"><strong>X</strong></span>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="group-name"><strong>Group Name</strong></label>
              <input type="text" id="group-name" [(ngModel)]="groupname" name="groupname" class="form-control" placeholder="Group Name">
            </div>  
            <div class="form-group">
                <label for="instructions1"><strong>Exam Instructions</strong></label>
                <textarea id="instructions1" [(ngModel)]="instructions" name="instructions" class="form-control" placeholder="Instructions"></textarea>
               <!-- <input type="text" id="instructions" class="form-control" placeholder="Instructions">-->
              </div>  
              <div class="form-group">
                  <label for="question-no"><strong>No. of Questions</strong></label>
                  <input type="number" id="question-no" [(ngModel)]="questions" name="questions" class="form-control" placeholder="No. of Questions">
                </div>
                <div class="form-group">
                    <label for="duration"><strong>Exam Duration</strong></label>
                    <input type="time" id="duration" [(ngModel)]="examduration" name="examduration" class="form-control" placeholder="Exam Duration">
                  </div>  
                  <div class="form-group">
                      <label for="validity1"><strong>Validity</strong></label>
                      <input type="time" id="validity1" [(ngModel)]="validity" name="validity" class="form-control" placeholder="Validity">
                    </div>  
                    <div class="form-group">
                        <label for="totalmarks"><strong>Total Marks</strong></label>
                        <input type="number" id="totalmarks" [(ngModel)]="total_marks" name="total_marks" class="form-control" placeholder="Total Marks">
                      </div>  
                      <div class="form-group">
                          <label for="positivemarks"><strong>Positive Marks</strong></label>
                          <input type="number" id="positivemarks" [(ngModel)]="positive_marks" name="positive_marks" class="form-control" placeholder="Positive Marks">
                        </div>  
                        <div class="form-group">
                            <label for="negativemarks"><strong>Negative marks</strong></label>
                            <input type="number" id="negativemarks" [(ngModel)]="negative_marks" name="negative_marks" class="form-control" placeholder="Negative Marks">
                          </div>      
                          <div class="form-group">
                              <label for="price1"><strong>Price</strong></label>
                              <input type="number" id="price1" [(ngModel)]="price" name="price" class="form-control" placeholder="Price">
                            </div> 
                            <div class="form-group">
                              <label for="details1"><strong>Details</strong></label>
                              <input type="text" id="details1" [(ngModel)]="details" name="details" class="form-control" placeholder="Paste Details pdf link here">
                            </div>
                            <div class="form-group">
                              <label for="schedule1"><strong>Schedule</strong></label>
                              <input type="text" id="schedule1" [(ngModel)]="schedule" name="schedule" class="form-control" placeholder="Paste Schedule pdf link here">
                            </div>
                            <div class="form-group">
                                <label for="subject"><strong>Subject</strong></label>
                                <div class="dropdown">
                                  <button id="subject" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Select</button>
                                  <ul class="dropdown-menu">
                                    <li *ngFor="let sub of getsubs" style="cursor: pointer;"class="pl-2"><strong>{{sub.subjectName}}</strong></li>
                                  </ul>
                                </div>
            
                              </div>    
                              <button type="button" style="min-width: 200px" class="text-center btn mt-1 btn-primary"><strong>SAVE</strong></button> 
          </div>
        </div>
      </div>
    </div>