<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <button style="float: right;"class="btn btn-success">
          All Ready Register? Click here for Login
        </button>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row mt-3 mb-3 box">
      <div class="col-12 col-md-12">
        <table class="mb-2 mt-2">
            <tr>
              <th>Sr.No</th>
              <th>Package</th>
              <th>Price</th>
              <th>Subscribe</th>
            </tr>
            <tr>
              <th>1.</th>
              <th><span style="display: block">JEE-Main</span>
              <span style="display:inline"><table><tr class="no">
                <td><a href="">Details</a></td>
                <td><a href="">Schedule</a></td>
              </tr></table></span></th>
              <th>1499</th>
              <th><a href="">Pay Now</a></th>
            </tr>
            <tr>
                <th>2.</th>
                <th><span style="display: block">IBPS-PO</span>
                <span style="display:inline"><table><tr class="no">
                  <td><a href="">Details</a></td>
                  <td><a href="">Schedule</a></td>
                </tr></table></span></th>
                <th>Free</th>
                <th><a href="">Pay Now</a></th>
              </tr>
            
        </table>
      </div>
      </div>
    </div>