<app-header></app-header>
<div class="container">
    <div class="row mt-3 mb-3 box">
    <div class="col-12 col-md-12">
      <table class="mb-2 mt-2">
          <tr>
            <th>Test</th>
            <th>Subject</th>
            <th>Allowed Time</th>
            <th>Questions</th>
          </tr>
          <tr *ngFor="let tes of tests">
            <th>{{tes.testNo}}</th>
            <th>{{tes.subject}}</th>
            <th>{{tes.allowed_time}}</th>
            <th><strong>Add Questions</strong></th>
          
      
          </tr>
      </table>
    </div>
    </div>
  </div>