
<app-user-header></app-user-header>

<div class="container">
    <div class="row text-center">
        <h2 class="mt-5 text-center mx-auto"><strong>User Register</strong></h2>
    </div>
     <div style="padding-top:30px" class="row pb-4">
         <div class="box mx-auto col-12 col-md-6 pt-4 pb-4">
            <div class="form-group">
                <label for="name"><strong>Name : </strong></label>
                <input type="text" placeholder="Full Name" [(ngModel)]="name" name="name" class="form-control">
                </div>
             <div class="form-group">
                 <label for="email"><strong>Email : </strong></label>
                 <input type="email" placeholder="Email" [(ngModel)]="email" name="email" class="form-control">
             </div>
            <div class="form-group">
                <label for="mobile"><strong>Mobile : </strong></label>
                <input type="number" placeholder="Mobile Number" [(ngModel)]="mobile" name="mobile" class="form-control">
            </div>
             <div class="form-group">
                 <label for="password"><strong>Password : </strong></label>
                 <input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="form-control">
             </div>
            <div class="form-group">
                <label for="city"><strong>City : </strong></label>
                <input type="text" placeholder="City" [(ngModel)]="city" name="city" class="form-control">
            </div>
            <button style="min-width: 100px;float: right;" (click)="UserRegister()" class="btn btn-danger mt-3"><strong>SIGN UP</strong></button>
           <h6>{{message}}</h6>
          </div>
</div>          

         </div>
     