<app-header></app-header>
<div class="container">
    <div class="row mt-3 mb-3 box">
    <div class="col-12 col-md-12">
      <table class="mb-2 mt-2">
          <tr>
            <th>No.</th>
            <th>User Name</th>
            <th>Mail ID</th>
            <th>Contact</th>
            <th>Group (Test Name)</th>
          
          
          </tr>
          <tr>
            <th>1.</th>
              <th>Shruti</th>
              <th>sh@gmail.com</th>
              <th>4488556699</th>
              <th>JEE-Main</th>
      
          </tr>
          <tr>
              <th>2.</th>
              <th>Gaurav</th>
              <th>ga@gmail.com</th>
              <th>4433669977</th>
              <th>IBPS-PO</th>
            </tr>
          
      </table>
    </div>
    </div>
  </div>